page-login {
  #login {
    background: lightgray;
    #btnLogin {
      align-content: center;
      text-align: center;
      size: 40px;
    }
    h1 {
      color: black;
      font-size: 100px;
      text-align: center;
      margin-top: 30px;
      text-shadow: 6px 4px;
    }
  }
}
